# Your API key, you can get it from Safeheron Web Console: https://www.safeheron.com/console.
apiKey: 080db****6e60
# path to your private key file, pem encoded
privateKeyPemFile: /path/to/your/privatekey.pem
# path to Safeheron API public key file, pem encoded, you can get it from Safeheron Web Console: https://www.safeheron.com/console.
safeheronPublicKeyPemFile: /path/to/safeheron/api/publickey.pem
# Safeheron API base url
baseUrl: https://api.safeheron.vip
# RequestTimeout (Millisecond), Default: 10000
requestTimeout: 10000
# Wallet Account key
accountKey: account****5ecad40
# Goerli testnet token address in wallet account
accountTokenAddress: 0x970****4ffD59
# erc20 token contract address
erc20ContractAddress: 0x078****Eaa37F
# address to receive token
toAddress: 0x53B****321789
# Ethereum RPC API
ethereumRpcApi: https://goerli.infura.io/v3/802******bc2fcb