# RSA private key (biz_privkey) is configured in the audit service.
approvalCallbackServicePrivateKey: /path/to/your/privatekey.pem
# RSA public key (api_pubkey) is used in the API Key configuration on Safeheron Web Console.
coSignerPubKey: /path/to/your/publickey.pem